/**
 * REGLAGE GLOBAL
 */
:root {
    --color-alpha: #79a8dd;
    --color-alpha--light: #f5f3ef;

    --color-black: #0a0a0a;
    --color-grey: #f8f9f9;
    --color-white: #fff;

}

/**
   * Paramètres de base
   */
*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", monospace;
    font-feature-settings: "Poppins" 0;
    font-size: 80%;
    line-height: 1.6;
}

h1,
h2 {
    margin: 0;
    font-family: var(--font-header);
}

h1,
h2 {
    margin: 0;
    font-family: "Poppins", monospace;
}


p {
    margin: 0 0 0.75em;
}

a {
    color: #0a0a0a;
    text-decoration: none;
    transition: color 0.4s ease-in-out;
}

a:hover,
a:active,
a:focus {
    color: #060E56;
}

figure {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/**
 * Text Selection
 */
::-moz-selection {
    color: #fff;
    background-color: #79a8dd;
    text-shadow: none;
}

::selection {
    color: #fff;
    background-color: #79a8dd;
    text-shadow: none;
}

.footer__archive,
.card__more,
.preview__more,
.previews__container span,
.tabs {
    font-family: "Poppins", monospace;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

/**
   * Superposition de couleur noire
   */
.card__img:after,
.previews>*:first-child:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(10, 10, 10, 0.2);
    transition: background-color 0.4s ease-in-out;
}

/**
   * Body
   */
body {
    background-color: #f8f9f9;
}

/**
   * Sections
   */
section {
    position: relative;
}

.section-padding {
    padding: 4em 0;
}

.section-padding--lg {
    padding: 6em 0;
}

.section-padding--sm {
    padding: 2em 0;
}

/**
   * Class Container (BEM)
   */
[class*=__container] {
    position: relative;
    z-index: 1;
}

/**
   * Blog page
   */

.previews>*:first-child {
    position: relative;
    height: 30em;
    background-color: #0a0a0a;
}

.previews>*:last-child {
    min-height: 100vh;
}

/* BOUTTTON Publier article */

.post-article {
    background-color: rgba(201, 90, 157, 0.7);
    margin-top: 25px;
    border-radius: 15px;
    width: 250px;
    text-align: center;

}

/**
   * Onglets
   *Sur la page du blog pour les articles et les catégories
   */
.tabs {
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

.tabs__item {
    cursor: pointer;
}

.tabs__item:not(.active) {
    position: relative;
    color: #0a0a0a;
}

.tabs__item:not(.active):after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 3px solid #79a8dd;
    transition: width 0.4s ease-in-out;
}

.tabs__item:not(.active):hover:after {
    width: 100%;
}

.tabs__item.active {
    border-bottom: 3px solid #79a8dd;
}

.tab.active {
    will-change: opacity;
    -webkit-animation: fade-in 1s both;
    animation: fade-in 1s both;
}

/**
   *Aperçu des articles de blog
   * Sur la page du blogOn the Blog page
   */
.previews__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 2em;
    color: #fff;
}

.previews__container span {
    font-family: "Inconsolata", monospace;
}

.preview {
    transition: background-color 0.2s ease-in-out;
}

.preview:nth-child(even) {
    background-color: #fff;
}

.preview:hover {
    background-color: #f5f3ef;
}

.preview:hover .preview__more {
    box-shadow: inset 175px 0 0 0 #79a8dd;
    color: #fff;
}

.preview__img {
    will-change: opacity;
    -webkit-animation: fade-in 1s both;
    animation: fade-in 1s both;
}

.preview__link {
    display: block;
    padding: 2em 1em;
}

.preview__date {
    font-family: "Space Mono", monospace;
    color: #0a0a0a;
}

.preview__header {
    color: #060E56;
    margin-bottom: 0.5em;
}

.preview__excerpt {
    color: #0a0a0a;
}

.preview__more {
    display: inline-block;
    padding: 0.5em;
    font-family: "Poppins", monospace;
    color: #79a8dd;
    border: 3px solid #79a8dd;
    box-shadow: inset 0 0 0 0 #79a8dd;
    transition: all 0.4s ease-in-out;
}

/**
   * Category Card
   * On the blog page under category tab
   */
.cards {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    padding: 2em 1em;
}

.cards>* {
    padding: 0.25em;
    flex-basis: 100%;
    max-width: 100%;
}



/* CARDS  */

.card__link {
    box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1), 0 1px 2px rgba(10, 10, 10, 0.2);
    position: relative;
    display: block;
    background-color: #fff;
    transition: background-color 0.2s ease-in-out;
}

.card__link:after {
    box-shadow: 0 3px 6px rgba(10, 10, 10, 0.1), 0 3px 6px rgba(10, 10, 10, 0.2);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    will-change: opacity;
    transition: opacity 0.4s ease-in-out;
}

.card__link:hover {
    background-color: #f5f3ef;
}

.card__link:hover:after {
    opacity: 1;
}

.card__link:hover .card__more {
    box-shadow: inset 175px 0 0 0 #060E56;
    color: #fff;
}

.card__img {
    position: relative;
    height: 12em;
    background-color: #0a0a0a;
}

.card__container {
    padding: 2em 1em;
}

.card__header {
    color: #79a8dd;
}

.card__count {
    color: #0a0a0a;
}

.card__more {
    display: inline-block;
    padding: 0.25em;
    font-family: "Poppins", monospace;
    color: #79a8dd;
    border: 3px solid #79a8dd;
    box-shadow: inset 0 0 0 0 #79a8dd;
    transition: all 0.4s ease-in-out;
}

/**
   * Footer
   */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;
}

.footer__archive {
    position: relative;
    color: #060E56;
}

.footer__archive:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 3px solid #060E56;
    transition: width 0.4s ease-in-out;
}

.footer__archive:hover:after {
    width: 100%;
}

.footer__social {
    display: flex;
    margin-top: 1em;
}



.footer__social>*:not(:last-child) {
    margin-right: 1em;
}

/**
   * Animations
   */
@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    will-change: opacity;
    -webkit-animation: fade-in 2s both;
    animation: fade-in 2s both;
}

/**
   * Absolute Background Cover
   */
.absolute-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

/**
   * Color Helpers
   */
.bg-black {
    background-color: #0a0a0a;
}

.bg-white {
    background-color: #fff;
}

/************************* MEDIA QUERIES **********************/
/* ************PAGE BLOG******************/
/* Reglage global */
@media (min-width: 20em) {
    body {
        font-size: 102.5%;
    }
}

@media (min-width: 30em) {
    body {
        font-size: 105%;
    }
}

@media (min-width: 54em) {
    body {
        font-size: 107.5%;
    }
}

@media (min-width: 64em) {
    body {
        font-size: 110%;
    }
}

@media (min-width: 76.5em) {
    body {
        font-size: 115%;
    }
}

@media (min-width: 114em) {
    body {
        font-size: 125%;
    }
}

@media (min-width: 54em) {
    h1 {
        font-size: 3em;
    }
}

@media (min-width: 76.5em) {
    h1 {
        font-size: 3.5em;
    }
}

/* Media tabs */
@media (min-width: 54em) {
    .tabs {
        padding-left: 8em;
        padding-right: 8em;
    }
}

@media (min-width: 114em) {
    .tabs {
        padding-left: 10em;
        padding-right: 10em;
    }
}

/* Media Previews */
@media (max-width: 54em) {
    .previews {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 54em) {
    .previews>*:first-child {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 45%;
    }
}

@media (min-width: 54em) {
    .previews>*:last-child {
        margin-left: 45%;
    }
}

@media (min-width: 54em) {
    .preview__link {
        padding: 4em 8em;
    }
}

@media (min-width: 114em) {
    .preview__link {
        padding-left: 10em;
        padding-right: 10em;
    }
}

/* Media Cards */
@media (min-width: 54em) {
    .cards>* {
        flex-basis: 50%;
        max-width: 50%;
    }
}

@media (min-width: 114em) {
    .cards>* {
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%;
    }
}

/* Media Footer */

@media (min-width: 54em) {
    .cards {
        padding: 4em 2em;
    }
}

@media (min-width: 30em) {
    .footer {
        flex-direction: row;
    }
}

@media (min-width: 30em) {
    .footer__social {
        margin-top: 0;
    }
}